@import 'App';

#about {
    @include width();
    display: flex;
    justify-content: center;
    padding: 10vh 0;
    gap: 0 100px;
    margin-bottom: 100px;

    div {
        width: 50%;

        h2,
        h3 {
            font-family: 'markazi', 'sans-serif';
            margin: 0;
            padding: 0;
            font-weight: 400;
        }

        h2 {
            font-size: 40pt;
            color: $primary-color-1;
        }

        h3 {
            font-size: 20pt;
            margin-bottom: 20px;
        }

        &:last-of-type {
            position: relative;
        }
    }

    img {
        position: absolute;
        width: 450px;
        border-radius: 8px;

        &:first-of-type {
            z-index: 2;
            right: -150px;
        }

        &:last-of-type {
            z-index: -1;
            bottom: -150px;
        }
    }
}

@media only screen and (max-width: 1700px) {
    #about {
        @include laptop-width();
    }
}

@media only screen and (max-width: 1200px) {
    #about {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 200px 0;
        margin-bottom: 200px;

        div {
            &:last-of-type {
                margin-bottom: 200px;
            }
        }

        img {
            &:first-of-type {
                right: -100px;
                top: 100px;
            }

            &:last-of-type {
                left: -100px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #about {
        width: 90%;
        flex-direction: column;
        align-items: center;
        padding-top: 10vh;
        gap: 20px 0;

        div {
            width: 100%;
        }

        img {
            position: static;
            display: block;
            width: 100%;

            &:last-of-type {
                margin-top: 20px;
            }
        }
    }
}