@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&family=Markazi+Text:wght@400;500&display=swap');

$primary-color-1:#495E57;
$primary-color-2: #F4CE14;
$secondary-color-1: #EE9972;
$secondary-color-2: #FBDABB;
$secondary-color-3: #EDEFEE;
$secondary-color-4: #333;

@mixin width() {
    width: 55vw;
    margin: 0 auto;
}

@mixin mobile-width() {
    width: 95%;
}

@mixin laptop-width() {
    width: 80%;
}

body {
    font-family: 'karla', 'sans-serif';
    color: $secondary-color-4;
    margin: 0;
    padding: 0;
}

button {
    background-color: $primary-color-2;
    font-size: inherit;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-weight: bold;
    color: $secondary-color-4;

    &:hover {
        cursor: pointer;
    }
}

p {
    margin: 0;
    font-size: 16pt;
    line-height: 1.5;
    max-width: 65ch;
}

@import 'Header';
@import 'Footer';