@import 'App';

#testimonials {
    width: 100%;
    background-color: $primary-color-1;
    padding: 5vh 0 10vh;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px 0
    }

    h2 {
        font-size: 30pt;
        color: $primary-color-2;
    }
}

.testimonials-card-container {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: space-evenly;
    gap: 50px 0;
}

.testimonial-card {
    background-color: $secondary-color-3;
    padding: 20px;
    border-radius: 8px;

    > div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    > p {
        font-size: 16px;
    }
}

.avatar-icon {
    height: 48px;
    width: auto;
    margin-right: 10px;
}

@media only screen and (max-width: 1700px) {
    .testimonials-card-container {
        @include laptop-width();
    }
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .testimonials-card-container {
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    }
}

@media only screen and (max-width: 600px) {
    .testimonials-card-container {
        width: 100%;
        margin: 0;
        justify-content: center;
    }
}